<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<body>
  <div class="container">
    <h2 class="text-muted">snapfinder.org</h2>

    <form class="form-inline" role="form" id="findform2">
      <div class="form-group">
        <label class="sr-only" for="address">Address</label>
        <input type="text" class="form-control" id="address"
               placeholder="Enter address">
      </div>
      <button type="submit" class="btn btn-success">Find</button>
    </form>


    <h4>Found <%= stores.length %> locations in <%= result.zip5 %></h4>
    <hr>
    <% for (var i = 0; i < stores.length; i++) { %>
    <% var store = stores[i]; %>
    <p><a href="/storedetail/<%= store._id %>"><%= store.storeName %></a></p>

    <p class="text-muted">
      <small><%= store.address1 %> <%= store.city %> <%= store.state %> <%= store.zip5 %></small>
    </p>
    <hr>
    <% } %>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="js/client.js"></script>
</body>
</html>
